page{
	background: #FAFAFA;
}
.weui-cells{
	.weui-cell_select{
		.weui-cell__bd{
			.weui-label{
				text-align: center;
			}
		}
	}
}
.cellStyle{
	.weui-cell__hd{
		width: 250rpx;
	}
}
.longCell{
	.weui-cell__hd{
		font-size: 28rpx;
	}
}

// 厚度统计标题
.thicknessStatisticsTitle{
	display: flex;
	align-items: center;
	justify-content: space-between;
	.operateArea{
		margin-right: 32rpx;
		.iconfont{
			font-size: 26rpx;
			color: var(--weixinFontColor);
			font-weight: bolder;
		}
		.icon-jiahao{
			margin-right: 32rpx;
			font-size: 28rpx;
		}
	}
}
// 厚度统计-输入框&步进器
.commonThicknessStatistics{
	.weui-slideview{
		.thicknessStatisticsCell{
			display: flex;
			align-items: center;
			padding: 32rpx;
			height: 112rpx;
			.cellTitle{
				width: 250rpx;
				.weui-select{
					padding: 0;
				}
			}
			.cellContent{
				padding-right: 40rpx;
				display: flex;
				flex: 1;
				justify-content: center;
			}
		}
	}
}

// 质量统计标题
.qualityStatisticsTitle{
	display: flex;
	align-items: center;
	justify-content: space-between;
	.icon-change{
		margin-right: 32rpx;
		font-size: 26rpx;
		color: var(--weixinFontColor);
		font-weight: bolder;
	}
}
// 质量统计-步进器
.qualityStepper{
	.commonQualityCell{
		padding: 22rpx 32rpx;
		display: flex;
		align-items: center;
		height: 112rpx;
		.cellTitle{
			width: 250rpx; 
		}
		.cellContent{
			display: flex;
			flex: 1;
			justify-content: center;
		}
	}
}
// 质量统计-输入框
.qualityInput{
	.commonQualityCell{
		display: flex;
		align-items: center;
		.cellTitle{
			width: 250rpx; 
		}
		.cellContent{
			display: flex;
			flex: 1;
		}
	}
}

.calcButton{
	margin: 40rpx 0;
	margin-bottom: 20rpx;
}
