.weui-cells{
	.weui-cell_select{
		.weui-cell__bd{
			.weui-label{
				text-align: center;
			}
		}
	}
}
.cellStyle{
	.weui-cell__hd{
		width: 250rpx;
	}
}
.longCell{
	.weui-cell__hd{
		font-size: 28rpx;
	}
}
