page{
    height: 100vh;
    width: 100vw;
}
.cu-custom{
    background-color: #78aa7b;
    .cu-bar{
        .action{
            .icon-jiahao{
                color: #000;
                font-weight: bolder;
                &:active{
                    color: #626263;
                }
            }
        }
		.content{
            font-size: 32rpx;
            color: #000;
		}
	}
}
.m-priceMaintain-grid{
    padding: 0 20rpx;
    background: #FAFAFA;
    position: relative;
    height: 100%;
    .m-grid-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #78aa7b;
        padding: 20rpx 0;
        p{
            flex: 1;
            text-align: center;
            font-size: 32rpx;
            font-weight: bolder;
        }
    }
    .m-grid-content{
        position: absolute;
        left: 20rpx;
        right: 20rpx;
        bottom: 0;
        top: 106rpx;
        overflow-y: auto;
        .weui-slideview{
            height: 88rpx !important;
            .m-content-row{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20rpx 0;
                p{
                    flex: 1;
                    text-align: center;
                    font-size: 30rpx;
                }
                &:active{
                    background: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}